html { 
    width: 960px; 
    margin: auto; 
    background-color: cadetblue;
    font-family:sans-serif;
    border: solid;
    border-radius: 25px;
}    

#content {
    margin: auto;
    width: 100%;
    margin-top: 100px;
    display: inline-block;
    align-content: center;
    text-align: center;
}

#profilepicpage {
    width: 180px;
}

#leftcontent {
    min-height: 100%;
    margin-right: 10px;
}

#profile {
    margin-bottom: inherit;
    margin-left: 40px;
    width: 200px;
    background-color: white;
    height: auto;
    float: left;
    border-radius: 10px;
}

#tags {
    margin-bottom: inherit;
    margin-left: 40px;
    width: 200px;
    background-color: white;
    height: auto;
    float: left;
    border-radius: 10px;
}

#rightcontent {
    margin: auto;
    width: 560px;
    float: right;
    text-align: center;
}

.tweetbox {
    background-color: white;
    margin-left: 300px;
    margin-right: 100px;
    margin-bottom: 10px;
    width: 500px;
    border-radius: 10px;
    padding-bottom: 3px;
}

.tweetusername {
    font-weight: bold;
    float: left;
    margin-left: 10px;
    color: blue;
}

.tweetdate {
    font-weight: bold;
    color: blue;
    float: right;
    margin-right: 10px;
}

.tweettext {
    margin-left: 30px;
    text-align: left;
    clear: right;
}

.tweethashtag {
    text-align: left;
    margin-left: 30px;
}

.tweetcimzett {
    text-align: left;
    margin-left: 30px;
}

.tweetpicture {
    width: 500px;
}

#tesztlogo {
    width: 20px;
    height: 20px;
    margin-left: 10px;
}

#profilepic {
    width: 20px;
    height: 20px;
}

#mainmenu {
    display: inline-block;
    font-size: 13px;
    margin-top: 10px;
}

#menu {
    background-color: white;
    position: fixed;
    width: 960px;
    margin-left: -8px;
    margin-top: 30px;
}

#usermenu {
    display: inline-block;
    font-size: 13px;
    float: right;
    margin: auto;
}

#login {
    width: 100%;
    margin-top: 100px;
    display: inline-block;
    align-content: center;
}

#echoname {
    font-weight: bold;
}

#reg {
    width: 960px; 
    margin: auto;
    margin-top: 100px;
    display: inline-block;
    align-content: center;
}

#error {
    width: 50%;
    margin: auto;
    margin-bottom: 0px;
    text-align: center;
    font-size: 20px;
    color:floralwhite;
    background-color:darkred;
    float: none;
}

#success {
    width: 50%;
    margin: auto;
    text-align: center;
    font-size: 20px;
    color:floralwhite;
    background-color:darkgreen;
}

#activelink {
    color: red;
}

#footer {
    width: 960px;
    text-align: center;
    border-top: 2px black solid;
    margin-left: -8px;
    clear: both;
}

.likedtweet {
    background-color: cadetblue;
    border: white;
    border-style: dotted;
}

.liketweet {
    background-color: white;
    border: cadetblue;
    border-style: dotted;
}

.hashtagb {
    background-color: white;
    border: none;
}

form {
    width: 20%;
    margin: auto;
}

input {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    width: 200px;
}

input[type="submit"] {
    background-color: black;
    color: white;
    border: none;
}

ul {
    list-style: none;
    display: inline-block;
}

li {
    display: inline-block;
    margin: auto;
    margin-left: 10px;
    margin-right: 10px;
}

a:link {
    text-decoration: none;
    color: black;
}

a:hover {
    background-color: blue;
}

a:visited {
    color: black;
    text-decoration: none;
}


